<?xml version='1.0' encoding='utf-8'?>
<widget id="com.example.papa" version="1.0.0"
    xmlns="http://www.w3.org/ns/widgets"
    xmlns:cdv="http://cordova.apache.org/ns/1.0">
    <name>Cordova Slideshow</name>
    <description>A Slideshow written as a web page and builded as APK with a Cordova Docker</description>
    <icon src="www/img/icon.jpg"/>
    <author email="enzo.juhel@epita.fr" href="https://cordova.apache.org">
        Enzo Juhel
    </author>
    <content src="index.html" />
    <allow-intent href="http://*/*" />
    <allow-intent href="https://*/*" />
</widget>
