body {
    font-family: Arial, sans-serif;
    margin: 0;
    background-color: #f4f4f4;
}

.title {
    text-align: center;
    font-size: 1em;
    font-family: 'Pacifico', cursive;
    color: #ff4081;
    margin-bottom: 20px;
}

.slideshow-container {
    max-width: 100%;
    overflow: hidden;
    background: #ffffff;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    margin: 0;
    position: absolute;
    top: 50%;
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
}

.slide {
    display: none;
    text-align: center;
}

.slide-image {
    width: 100%;
    height: auto;
    border-bottom: 1px solid #ddd;
}

.description {
    padding: 15px;
    background: #ffffff;
    border-radius: 0 0 10px 10px;
}

.prev, .next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    padding: 16px;
    margin-top: -22px;
    color: #333;
    font-weight: bold;
    font-size: 18px;
    transition: 0.3s ease;
    border-radius: 0 3px 3px 0;
    user-select: none;
    z-index: 2;
}

.next {
    right: 0;
    border-radius: 3px 0 0 3px;
}

.prev:hover, .next:hover {
    background-color: rgba(0,0,0,0.8);
    color: white;
}

.fade {
    animation-name: fade;
    animation-duration: 1s;
}

@keyframes fade {
    from {opacity: .4} 
    to {opacity: 1}
}
